html {
    scroll-behavior: smooth;
}

/*--------CSS-PERSO--------*/

.bg-custom-red {
    background-color: #870000;
}

.bg-custom-gray {
    background-color: #b09e99;
}

.bg-custom-yellow {
    background-color: #eff7cf;
}

.text-custom-color {
    color: #eff7cf;
}

.text-custom-red {
    color: #870000;
}

/*--------NAVBAR--------*/

.nav-link:hover {
    border-bottom: 0.0625em solid #eff7cf;
    color: #eff7cf;
}

#logonavbar {
    width: 7.5em;
    height: 4.6875em;
}

.nav-pills:enabled {
    color: #eff7cf;
}

/*--------HEADER--------*/

#imagehome {
    height: auto;
}

/*--------PIZZAS--------*/

#pizzas {
    background-color: #eff7cf;
}

.image-card {
    width: auto;
    height: 15.625em;
}

p {
    font-size: 1.5em;
}

.card {
    border: 0.125em solid #870000;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.card:hover {
    -webkit-transform:scale(1.05); 
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

.cardsbutton:hover {
    background-color: #eff7cf;
    color: #870000;
    border: 0.0625em solid #870000;
}

/*--------FOOTER--------*/

.imagedelivery {
    width: 200px;
    height: 100px;
}

#footerbg {
    background-color: #870000;
    color: white;
}

#googlemap {
    width: 100%;
    margin-top: 4em;
}

.footerlist {
    list-style-type: none;
}

#formfooter {
    margin-top: 2em;
}

/*--------PARALLAX--------*/

.parallax {
    background-image: url("../img/dough-943245_1920.jpg");
    height: 15em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


